[Unit]
Description=blockpress.me server
After=network-online.target

[Service]
Environment=BLOCKPRESS_ADDR=":443"
ExecStart=/opt/bin/blockpress.me
Restart=always

[Install]
WantedBy=network-online.target

