[Unit]
Description=Hacky CI/CD for blockpress.me
After=network-online.target

[Service]
Environment=SLEEP_DURATION=1m
ExecStart=/bin/bash /opt/bin/refresh_static_content
Restart=always

[Install]
WantedBy=network-online.target

